body {
    font-family: "Lato", sans-serif;
}

.indexbody {
    padding-bottom: 15px;
    color: black;
    height: 100%;
    width: auto;
    background-color: #868e96;
    background-attachment: fixed;
    background-image: url('/img/background.png');
    background-size: cover
}

.twitter-btn {
    padding-left: 90px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0.5;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav h4 {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f3ecec;
    display: block;
}

.sidenav img {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f3ecec;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    /* Same as the width of the sidenav */
    padding-top: 20px;
    margin-left: 200px;
    padding-left: 25px;
    padding-bottom: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}